
                          {% if app.user is not null %}
            {% if "ROLE_ADMIN" in app.user.roles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="fr-FR">
        <title>{% block title %}Administration!{% endblock %}</title>
      {#  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css">#}
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <style>
            footer{position: absolute;}


        </style>

        <header id="main-header">
      <div class="container">
          <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg" style="padding: 4%;">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h1><span class="primary-text">Sym</span>Fony</h1>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <nav id="navbar">
              <ul>
                <li class="current"><a href="/">Home</a></li>

              <li><a href="/">Commande</a></li>
              <li><a href="{{ path('client') }}">Client</a></li>
              <li><a href="/create">Creer un produit</a></li>



{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<li> Connecté en tant que {{ app.user.username }}</li>

    <li> <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
{% else %}
<li><a href="/register">Inscription</a></li>
<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
{% endif %}




                     </ul>

            </nav>

          </div>
        </div>
      </div>
    </header>

   {#     {{dump(app.user)}}#}
        {% block body %}{% endblock %}



        {% block footer %}
            <footer id="footer" style=" bottom: 0; left: 0; right: 0; ">
				<div class="copyright">
					&copy;.... All rights reserved. Images: <a href="#">...</a>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/skel.min.js') }}"></script>
			<script src="{{ asset('assets/js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ asset('assets/js/main.js') }}"></script>


        {% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
         {% endif %}
        {% endif %}